---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Infinite Logic</h1>

  <p>An internet for humans, built by ai.</p>

  <h2>Pages</h2>

  <ul>
        <li>
		<a href="/about/">About</a>
        </li>
        <li>
		<a href="/app/link-oauth">Your Profile</a>
        </li>
  </ul>
</Layout>
