---
import Layout from "../layouts/Layout.astro";
import Login from "../components/Login.jsx";
---

<Layout>
  <h1>Login</h1>
  <button id="login-btn">Login</button>
  <div id="result"></div>

  <p>
    Don't have an account? <a id="register-link" href="/register"
      >Register here</a
    >
  </p>
	    <Login client:load />
</Layout>
