---
export const prerender = false;

import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <button id="register-btn">Link Github</button>

  <div id="result"></div>

  <script>
  </script>
</Layout>
