---
import Logout from "../components/Logout.jsx";
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Infinite Logic</title>
  </head>
  <body>
    <Logout client:load />
    <slot />
  </body>
</html>

<style is:global>
  html,
  body {
    background-color: black;
    color: #00ff00;
    font-family: monospace;
    font-size: 14pt;
  }

  a {
    color: #58a6ff;
    text-decoration: none;
  }

  a:visited {
    color: #8e96f0;
  }

  a:hover {
    color: #79c0ff;
  }

  button {
    background-color: black;
    color: #00ff00;
    font-family: monospace;
    font-size: 18pt;
    padding: 10px 20px;
    border: 2px solid #00ff00;
    cursor: pointer;
  }

  button:hover {
    background-color: #00ff00;
    color: black;
  }
</style>
